  <div class="bar-item">
    <div class="t-h">
      <h3>近期文章</h3>
    </div>
    <ul>
      <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
      <!-- <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span> -->
      <li class="post-item"><a href="<%- url_for(post.path) %>"><%- post.title || '无标题' %></a></li>
      <% }); %>
    </ul>
  </div>